.panel {
    width: 100%;
    position: relative;
    z-index: 5;
    margin: 50px 0 25px;
    justify-content: space-between;
    display: flex;
}

.block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    position: relative;
    width: max(10%, 85px);
}

.hint {
    left: 50px;
}

