:root {

    --primary: #f5f5f5;
    --secondary: #f0f0f0;
    --optional: #050505;
    --accent: #000555;
    --wrong: #ff5555;

    --transparent-primary: #f5f5f550;
    --transparent-secondary: #f0f0f050;
    --transparent-optional: #05050550;
    --transparent-accent: #00ffff50;
    --transparent-wrong: #ff555550;

    --transparent-primary-95: #f5f5f595;
    --transparent-secondary-95: #f0f0f095;
    --transparent-optional-95: #05050595;

}